<!doctype html>
<html lang="en">
<head>
    <% include blocks/head.ejs %>
    <title>
        <% username %>
    </title>
</head>
<body>
<% include blocks/header.ejs %>
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-md-3">
            <h1 class="mb-3">
                <% username %>
            </h1>
        </div>
    </div>
</div>
</body>
</html>