<!doctype html>
<html lang="en">
<head>
    <% include blocks/head.ejs %>
    <title>Chat</title>
</head>
<body>
<% include blocks/header.ejs %>
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-md-3">
            <h1 class="mb-3">
                Chat
            </h1>
            <label for="chat">History</label>
            <textarea readonly id="chat" cols="80" rows="15 " class="form-control"></textarea>
            <br>
                <% if (in_room) { %>
                    <label for="text">Message</label>
                    <div class="container">
                        <div class="row">
                            <input id="text" class="form-control col order-first" onkeyup=""
                                   placeholder="Enter your message here">
                            <button class="btn btn-danger col-md-2 ml-3"
                                    onclick="send_message(user, room)">
                                Send
                            </button>
                        </div>
                    </div>
                    <br>
                    <button onclick="disconnect(user, room)" class="btn btn-outline-danger">
                        Leave this room
                    </button>
                <% } else { %>
                    <button onclick="connect(user, room)" class="btn btn-outline-danger">
                        Join Room
                    </button>
                <% } %>
        </div>
    </div>
</div>
</body>
</html>