<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="..." class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%=room.name%></h5>
                <hr>
                <p class="card-text"><%=room.description%></p>
                <p class="card-text"><small class="text-muted"><%=room.createdDate%></small></p>
                <a href="/room/<%=room.name%>" class="btn btn-danger">Enter room</a>
            </div>
        </div>
    </div>
</div>